<!DOCTYPE html>
<head>
    <title>Grocery list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!-- LOGO -->

    <div class="container">
        <div class="list__header">
            <img src="https://raw.githubusercontent.com/MariyaSha/groceriesList/main/logo_black.png" alt="logo">
            <p class="list__title">Groceries</p>
        </div>
        <!-- REMOVE ITEMS FORM -->
    
        <div id="remove_items">
            <form action="/remove_items" method="post">
                {% for item in shopping_items %}
                    <input type="checkbox" name="check" id="{{ item }}" value="{{ item }}" onchange="check_me('{{ item }}')">
                    <label for="{{ item }}" name="{{ item }}">{{item}}</label><br>
                {% endfor %}
                <input type="submit" value="CHECK ITEMS" id="remove_btn">
            </form>
        </div>
        <!-- ADD ITEMS FORM -->
        <div id="add_item">
            <form action="/add_items" method="post">
                <select name="select_items">
                    {% for item in all_items %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="ADD ITEM" id="add_btn">
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>